<h2>Add Cat</h2>

<%= render 'form', cat: @cat %>

<!--

<form action= '<%= cats_url %>' method="post">
  <label for="name">Name</label>
  <input type="text" name="cats[name]" value="">

  <label for="date">Date</label>
  <input type="date" name="cats[birth_date]" value="">

  <label for="color">Color</label>
  <input type="text" name="cats[color]" value="">

  <label for="sex">Sex</label>
    <select name="cats[sex]">
      <option disabled selected>-Choose Sex-</option>
      <option value="f">Female</option>
      <option value="m">Male</option>
    </select>
  <label for="description">Description</label>
  <textarea name="cats[description]"></textarea>


  <input type="submit" name="" value="submit cat">
</form> -->
